<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"  >
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:poll interval="1" listener="#{controlador.leTemperaura()}" update="txt_count,ventilador" />
            <h:panelGrid columns="2" width="100%" style="text-align:center">  
                <h:panelGrid  columns="1" >
                    <h:commandButton  image="arduino.png" action="#{controlador.leTemperaura()}" />
                </h:panelGrid>
                <h:panelGrid  columns="1" >
                    <h:outputLabel value="JAVA E ARDUINO - ADRIANO MESACASA" style="font-size: 30px" ></h:outputLabel>
                </h:panelGrid>

            </h:panelGrid>
            <BR/>
            <BR/>
       
            _________________________________________________________ Umidade e Temperatura: _<h:outputText id="txt_count" value="#{controlador.temperaturaEumidade}" />______________________________________________
            <h:panelGrid columns="4" width="100%" style="text-align:center">  
                <h:panelGrid  columns="1" >
                    <h:commandButton  image="Lampada.png" action="#{controlador.comandaRele1()}" style="height: 170px; width: 190px"/>
                    <h:outputText value="#{controlador.botaRele1}"/>
                </h:panelGrid>
                <h:panelGrid columns="1">
                    <h:commandButton  image="cafeteira.png" style="height: 150px; width: 150px" action="#{controlador.comandaRele2()}"/>
                    <h:outputText value="#{controlador.botaRele2}"/>
                </h:panelGrid>
                <h:panelGrid columns="1">
                    <h:commandButton image="tomada.jpg" style="height: 170px; width: 220px" action="#{controlador.comandaRele3()}" value="#{controlador.botaRele3}"/>
                    <h:outputText value="#{controlador.botaRele3}"/>
                </h:panelGrid>
                <h:panelGrid columns="1">
                    <h:commandButton  image="ventilador.jpg" action="#" style="height: 170px; width: 210px" />
                    <h:outputText id="ventilador" value="#{controlador.ventilador}" />
                </h:panelGrid>
            </h:panelGrid>





        </h:form>                   
    </h:body>
</html>

